.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ac8e8e;
    padding: 10px;
    color: white;
  }
  
  .navbar-brand h2 {
    margin: 0;
    margin-right: 80px;
    margin-left: 40px;
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
    gap: 80px;
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.2s; 
    display: inline-block;
  }
  
  .navbar-links a:hover {
    transform: scale(1.2);
  }

  .cart-container {
    position: relative;
    margin-left: auto;
  }
  
  .cart-icon-wrapper {
    position: relative;
    display: inline-block;
    color: white;
  
  }
  
  .cart-notification {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid white;
  }.cart-container {
    position: relative;
    margin-left: auto;
  }
  
  .cart-icon-wrapper {
    position: relative;
    display: inline-block;
    color: white;
  
  }
  
  .cart-notification {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid white;
  }
  .search-bar{
    margin-left: 700px;
    
  }
  .search-bar input{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  